@font-face {
    font-family: 'GE Inspira';
    src: url('GEInspira-Bold.woff2') format('woff2'),
        url('GEInspira-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GE Inspira';
    src: url('GEInspira.woff2') format('woff2'),
        url('GEInspira.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

